<div class="row justify-content-center" style="margin: auto 50px;">
    <div class="col-md-10">
        <!-- Waline -->
        <div id="vcomments"></div>
        <script src="/assets/js/waline.js"></script>
        <link rel="stylesheet" href="/assets/css/waline.css"/>
        <script>
            Waline.init({
                el: '#vcomments',
                pageview: true,
                copyright: typeof WalineCopyright !== 'undefined' ? WalineCopyright : false,
                serverURL: WalineServerURL,
                requiredMeta: typeof WalineRequiredMeta !== 'undefined' ? WalineRequiredMeta : []
            })
        </script>
    </div>
</div>
