<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Proudly published with <a href="https://ghost.org/" target="_blank">Ghost</a>
                    | Theme <a href="https://github.com/lileixuan/maple/" target="_blank">Maple</a>
                </p>
                <p> Copyright <span class="all-rights-reserved">&copy; {{date format="YYYY"}} {{@site.title}}. All rights reserved.</span>
                </p>
                <!--<p><a href="https://beian.miit.gov.cn" target="_blank">京ICP备xxxx</a></p>-->
            </div>
        </div>
    </div>
</div>

