<h5 class="footer-content-title">友情链接</h5>
<div class="footer-friend-links">
    {{> custom/friend-link}}
</div>

<h5 class="footer-content-title">联系我</h5>
<div class="footer-friend-links">
    {{> custom/social-icon}}
</div>
