{{#if navigation}}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <nav class="main-nav">
                    <ul class="menu">
                        {{#foreach navigation}}
                            <li><a href="{{url}}">{{label}}</a></li>
                        {{/foreach}}
                        <li style="float: right;" data-ghost-search><a href="#/search"><i class="fa fa-lg fa-search"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{{/if}}
