<div class="row justify-content-center">
    <div class="col-md-10">
        {{#primary_author}}
            <div class="post-author">
                <figure class="author-image">
                    {{#if profile_image}}
                        <a href="/about/" style="background-image: url({{img_url profile_image}})"></a>
                    {{else}}
                        <a href="/about/" style="background-image: url({{asset "img/user-image.png"}})"></a>
                    {{/if}}
                </figure>
                <section class="author-info">
                    <h4>
                        <a href="/about/">{{name}}</a>
                    </h4>
                </section>
            </div>
        {{/primary_author}}
    </div>
</div>


