<h5 class="footer-content-title">标签云</h5>
<div class="footer-content-tags">
    {{#get "tags" limit="21" as |tags|}}
        {{#foreach tags}}
            <a href="{{url}}">{{name}}</a>
        {{/foreach}}
    {{/get}}
    <a href="/tags">...</a>
</div>
