<h3 id="lilei-x">Lilei.Xuan</h3>
<hr>
<p>Male，after 80s</p>
<h3 id="overview">Overview</h3>
<hr>
<p>Mail：lileixuan#gmail.com</p>
<p>Major in computer science and technology, 15 years + working experience, 10 years + team management
    experience.</p>
<h3 id="education">Education</h3>
<hr>
<p>Jilin University -- Computer Science and Technology 2003 -- 2007</p>
